body{
    margin: 0px;
}

div {
    font-family: 'Lato', sans-serif;
}

.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-image: url('https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.6435-9/196461751_1911170919051660_5980229829981814581_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHw7KT6Df8hKiLZ1NjbtO2UoQAym5Xhey-hADKbleF7LwjoAo4J31XnuNoUuZWdTwjuNQgYKUv3be5vHOlGfOIv&_nc_ohc=fhUNQ9tzlBQAX9Xwn2W&tn=Fg0pRutN-1QS4-57&_nc_ht=scontent.fbkk2-8.fna&oh=8767708aa48bad6eee83163076961f05&oe=6129F763');
    position: relative;
    background-size: cover;
    left: 50px;
    bottom: 150px;
}

.banner{
    width: 100%;
    height: 250px;
    background-image: url('https://www.adobe.com/express/discover/templates/banner/media_1d475ea237f3632359c1538d48da93b1deff5ed7e.png?width=1200&format=pjpg&optimize=medium');
    background-size: cover;
}

.text1{
    position: absolute;
    bottom: 400px;
    left:400px;
}

.text2{
    position: absolute;
    font-size: 20px;
    color: #000;
    bottom: 395px;
    left: 580px;
}

.ig_logo{
    position: absolute;
    width: 33px;
    height: 30px;
    background-image: url('https://download.logo.wine/logo/Instagram/Instagram-Logo.wine.png');
    background-size: cover;
    bottom: 392.5px;
    left: 540px;
}

.describe{
    width: 600px;
    height: 300px;
    background-color: #FDF5E6;
    position: absolute;
    bottom: 50px;
    left: 400px;
}